{% extends "fitness_app/layout.html" %} {% block title %} Recipes {% endblock %}
{% block body %}
<div class="form-div">
    <button id="recipe-btn" class="btn btn-outline-success">Add new recipe <i class="fa fa-plus mx-2 form-btn"></i></button>
</div>
    <div id="recipe-form-container" style="display: none;" class="mt-5 add-form">
        <form id="recipe-form">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="recipe-title" required>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                <select class="form-control" name="categories">
                    <option value="" selected disabled>Choose Category</option>
                    {% for recipe in data %}
                    {% for category in recipe.categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Image link</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="recipe-image">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ingredients</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="4" cols="30" placeholder="Seperate each ingredient by a new line (Enter/Return)." id="exercise-ingredients" required></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="4" cols="30" placeholder="Seperate each step by a new line (Enter/Return)." id="exercise-description" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Add Recipe</button>
        </form>
    </div>
    <hr>

<div class="row text-center" id="recipe-list">
    <h2><a href="{% url 'categories' %}">All Categories</a></h2>
	{% for recipe in data %}
	<div class="col-md-4 my-3 recipe">
		<div class="card h-100">
			<a
				class="title-link"
				href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
				><img src="{{ recipe.image }}" class="card-img-top" alt="..."
			/></a>
			<div class="card-body text-center" style="padding-bottom: 6em">
				<a
					class="title-link"
					href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
					><h5 class="card-title fw-bold">{{ recipe.title }}</h5></a
				>
				{% for category in recipe.categories %}
				<a href="{% url 'category' category|slugify %}" class="card-link">{{ category }}</a>
				{% endfor %}
				<a
					href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
					class="btn btn-primary btn-card-bottom view-recipe"
					>View recipe</a
				>
			</div>
            {% if user.is_authenticated %}
                {% if recipe.id in liked_recipes %}
                    <button class="unlike-recipe" data-recipe-id="{{ recipe.id }}"><i class="fa fa-heart"></i></button>
                {% else %}
                    <button class="like-recipe" data-recipe-id="{{ recipe.id }}"><i class="fa fa-heart"></i></button>   
                {% endif %} 
                {% if recipe.id in cookbook %}
                    <button class="remove-from-cookbook" data-recipe-id="{{ recipe.id }}"><i class="fa fa-check"></i></button>
                {% else %}
                    <button class="add-to-cookbook" data-recipe-id="{{ recipe.id }}"><i class="fa fa-plus"></i></button>
                {% endif %}
            {% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% if data.has_next %}
<button
	class="btn btn-light"
	id="load-more"
	data-start="30"
>
	Load more
</button>
<a href="#" class="scroll-to-top">&#11014;</a>
{% endif %}

<script>
    const csrfToken = "{{ csrf_token }}";
</script>

<script>
$(document).ready(function() {
        $("#recipe-btn").click(function() {
            $("#recipe-form-container").fadeToggle(1000);
        });
    });

$(document).ready(function() {
        // Handle form submission
        $('#recipe-form').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Get form data
            var formData = {
                title: $('#recipe-title').val(),
                category: $('select[name="categories"]').val(),
                image_link: $('#recipe-image').val(),
                ingredients: $('#recipe-ingredients').val(),
                description: $('#recipe-description').val()
            };

            // Send form data using AJAX
            $.ajax({
                method: 'POST',
                url: "{% url 'add-recipe' %}",
                headers: { 'X-CSRFToken': csrfToken },
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: 'application/json',
                success: function(response) {
                    // Handle success response
                    console.log(response);
                    // Perform any additional actions
                    $('#recipe-form').fadeOut();
                    location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.log(xhr.responseText);
                    // Perform any error handling
                }
            });
        });
    });

	$(document).ready(function () {
		$("#load-more").click(function () {
			var url = "{{ request.path }}?start=" + $(this).data("start");
			$.get(url, function (data) {
				var recipes = $(data).find("#recipe-list .recipe");
				$("#recipe-list").append(recipes);
				if (!$(data).find("#load-more").length) {
					$("#load-more").hide();
				} else {
					$("#load-more").data(
						"start",
						parseInt($("#load-more").data("start")) + 15
					);
				}
			});
		});
	});

	$(window).scroll(function () {
		if ($(this).scrollTop() > 100) {
			$(".scroll-to-top").fadeIn();
		} else {
			$(".scroll-to-top").fadeOut();
		}
	});

	$(".scroll-to-top").click(function (e) {
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, "300");
	});

    $(document).ready(function() {
        $(document).on('click', '.like-recipe', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            $.ajax({
                url: "{% url 'like-recipe' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('like-recipe').addClass('unlike-recipe');
                    } else {
                        alert('Error: could not add recipe to liked recipes');
                    }
                },
                error: function() {
                    alert('Error: could not add recipe to liked recipes');
                }
            });
        });
        
        $(document).on('click', '.unlike-recipe', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            $.ajax({
                url: "{% url 'unlike-recipe' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('unlike-recipe').addClass('like-recipe');
                    } else {
                        alert('Error: could not remove recipe from liked recipes');
                    }
                },
                error: function() {
                    alert('Error: could not remove recipe from liked recipes');
                }
            });
        });

        $(document).on('click', '.add-to-cookbook', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            var $i = $($button).find("i");
            $.ajax({
                url: "{% url 'add-to-cookbook' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('add-to-cookbook').addClass('remove-from-cookbook');
                        $i.removeClass('fa-plus').addClass('fa-check');
                    } else {
                        alert('Error: could not add recipe to cookbook');
                    }
                },
                error: function() {
                    alert('Error: could not add recipe to cookbook');
                }
            });
        });

        $(document).on('click', '.remove-from-cookbook', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            var $i = $($button).find("i");
            $.ajax({
                url: "{% url 'remove-from-cookbook' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('remove-from-cookbook').addClass('add-to-cookbook');
                        $i.removeClass('fa-check').addClass('fa-plus');
                    } else {
                        alert('Error: could not remove recipe from cookbook');
                    }
                },
                error: function() {
                    alert('Error: could not remove recipe from cookbook');
                }
            });
        });
    });
</script>
{% endblock %}
