{% extends "fitness_app/layout.html" %} {% block title %} Recipes {% endblock %}
{% block body %}

<div class="row text-center" id="recipe-list">
    <h2><a href="{% url 'categories' %}">All Categories</a></h2>
	{% for recipe in data %}
	<div class="col-md-4 my-3 recipe">
		<div class="card h-100">
			<a
				class="title-link"
				href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
				><img src="{{ recipe.image }}" class="card-img-top" alt="..."
			/></a>
			<div class="card-body text-center" style="padding-bottom: 6em">
				<a
					class="title-link"
					href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
					><h5 class="card-title fw-bold">{{ recipe.title }}</h5></a
				>
				{% for category in recipe.categories %}
				<a href="{% url 'category' category|slugify %}" class="card-link">{{ category }}</a>
				{% endfor %}
				<a
					href="{% url 'recipe' id=recipe.id title=recipe.title|slugify %}"
					class="btn btn-primary btn-card-bottom view-recipe"
					>View recipe</a
				>
			</div>
            {% if user.is_authenticated %}
                {% if recipe.id in liked_recipes %}
                    <button class="unlike-recipe" data-recipe-id="{{ recipe.id }}"><i class="fa fa-heart"></i></button>
                {% else %}
                    <button class="like-recipe" data-recipe-id="{{ recipe.id }}"><i class="fa fa-heart"></i></button>   
                {% endif %} 
                <button class="plus" data-recipe-id="{{ recipe.id }}"><i class="fa fa-plus"></i></button>
                <!-- <a class="check" href=""><i class="fa fa-check"></i></a> -->
            {% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% if data.has_next %}
<button
	class="btn btn-light"
	id="load-more"
	data-start="30"
>
	Load more
</button>
<a href="#" class="scroll-to-top">&#11014;</a>
{% endif %}

<script>
    const csrfToken = "{{ csrf_token }}";
</script>

<script>
	$(document).ready(function () {
		$("#load-more").click(function () {
			var url = "{{ request.path }}?start=" + $(this).data("start");
			$.get(url, function (data) {
				var recipes = $(data).find("#recipe-list .recipe");
				$("#recipe-list").append(recipes);
				if (!$(data).find("#load-more").length) {
					$("#load-more").hide();
				} else {
					$("#load-more").data(
						"start",
						parseInt($("#load-more").data("start")) + 15
					);
				}
			});
		});
	});

	$(window).scroll(function () {
		if ($(this).scrollTop() > 100) {
			$(".scroll-to-top").fadeIn();
		} else {
			$(".scroll-to-top").fadeOut();
		}
	});

	$(".scroll-to-top").click(function (e) {
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, "300");
	});

    $(document).ready(function() {
        $(document).on('click', '.like-recipe', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            $.ajax({
                url: "{% url 'like-recipe' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('like-recipe').addClass('unlike-recipe');
                    } else {
                        alert('Error: could not add recipe to liked recipes');
                    }
                },
                error: function() {
                    alert('Error: could not add recipe to liked recipes');
                }
            });
        });
        
        $(document).on('click', '.unlike-recipe', function() {
            var recipeId = $(this).data('recipe-id');
            var $button = $(this);
            $.ajax({
                url: "{% url 'unlike-recipe' %}",
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                data: {
                    recipe_id: recipeId,
                },
                success: function(response) {
                    if (response.success) {
                        // Update the UI to indicate that the recipe was liked
                        $button.removeClass('unlike-recipe').addClass('like-recipe');
                    } else {
                        alert('Error: could not remove recipe from liked recipes');
                    }
                },
                error: function() {
                    alert('Error: could not remove recipe from liked recipes');
                }
            });
        });
    });
</script>
{% endblock %}
