{% extends "fitness_app/layout.html" %} {% block title %} Register {% endblock %} {% block body %}
<form
	action="{% url 'register' %}"
	method="post"
	class="row g-3 needs-validation"
	novalidate
>
	{% csrf_token %}
	<div class="col-md-4">
		<label for="name" class="form-label">First name *</label>
		<input
			type="text"
			class="form-control"
			id="name"
			name="firstName"
			required
		/>
		<p id="error-name"></p>
	</div>
	<div class="col-md-4">
		<label for="surname" class="form-label">Last Name *</label>
		<input
			type="text"
			class="form-control"
			id="surname"
			name="lastName"
			required
		/>
		<p id="error-surname"></p>
	</div>
	<div class="col-md-3">
		<label for="phoneNumber" class="form-label">Phone number *</label>
		<input
			type="tel"
			class="form-control"
			id="number"
			name="number"
		/>
		<p id="error-number"></p>
	</div>
	<div class="col-md-6">
		<label for="username" class="form-label">Username</label>
		<div class="input-group has-validation">
			<span class="input-group-text" id="inputGroupPrepend">@</span>
			<input
				type="text"
				class="form-control"
				id="username"
				aria-describedby="inputGroupPrepend"
				name="username"
				required
			/>
		</div>
	</div>
	<div class="col-md-6">
		<label for="email" class="form-label">E-mail *</label>
		<input
			type="email"
			class="form-control"
			placeholder="example@gmail.com"
			id="email"
			name="email"
			required
		/>
		<p id="error-email"></p>
	</div>
	<div class="col-md-6">
		<label for="password" class="form-label">Password *</label>
		<input
			type="password"
			class="form-control"
			id="password"
			name="password"
			required
		/>
		<p id="error-password"></p>
	</div>
	<div class="col-md-6">
		<label for="password2" class="form-label">Repeat password</label>
		<input
			type="password"
			class="form-control"
			id="password2"
			name="password2"
			required
		/>
		<p id="error-password2"></p>
	</div>
	<div class="col-md-3">
		<label for="profileImage" class="form-label">Profile photo</label>
		<input
			class="form-control"
			type="file"
			id="profileImage"
			accept="image/*"
			name="image"
		/>
	</div>
	<div class="col-md-3">
		<label for="date" class="form-label">Date of birth *</label>
		<input class="form-control" type="date" id="date" name="date" />
        <p id="error-date"></p>
	</div>
	<div class="col-md-3">
		<label for="height" class="form-label">Height (cm) *</label>
		<input
			class="form-control"
			type="number"
			min="0"
			placeholder="e.g. 180 (cm)"
			id="height"
			name="height"
		/>
		<p id="error-height"></p>
	</div>
	<div class="col-md-3">
		<label for="bodyWeight" class="form-label">Body-weight (kg) *</label>
		<input
			class="form-control"
			type="number"
			min="0"
			placeholder="e.g. 70 (kg)"
			id="weight"
			name="bodyWeight"
		/>
		<p id="error-weight"></p>
	</div>
	<div class="col-md-6">
		<label class="form-label">Sex *</label>
		<div class="form-check">
			<input
				class="form-check-input"
				name="sex"
				type="radio"
				id="male"
				value="male"
			/>
			<label class="form-check-label" for="male"> Male </label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input"
				name="sex"
				type="radio"
				id="female"
				value="female"
			/>
			<label class="form-check-label" for="female"> Female </label>
		</div>
	</div>
	<div class="col-12 d-flex justify-content-around">
		<button type="submit" id="submit-btn" class="btn btn-primary">
			Sign in
		</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert alert-warning">{{ message }}</div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>Please complete the required (*) fields before submitting the registration form</p>
	</div>
</form>
<script>
	$(document).ready(function () { 
		// Add event listeners to the form fields
		$("#name").on("input", validateName);
		$("#surname").on("input", validateSurname);
		$("#number").on("input", validateNumber);
		$("#email").on("input", validateEmail);
		$("#password").on("input", validatePassword);
		$("#password2").on("input", validatePassword2);
		$("#date").on("input", validateDate);
		$("#height").on("input", validateHeight);
		$("#weight").on("input", validateWeight);
		$("#sex").on("change", validateSex);

		function validateName() {
			let name = $("#name").val();
			if (name.length < 2) {
				$("#error-name")
					.text("Name should be at least 2 characters long.")
					.css("color", "red");
				$("#name").css("border", "3px solid red");
			} else if (!/^[a-zA-Z]+$/.test(name)) {
				$("#error-name")
					.text("Name should only contain letters.")
					.css("color", "red");
				$("#name").css("border", "3px solid red");
			} else {
				$("#error-name").text("");
				$("#name").css("border", "3px solid green");
			}
		}

		function validateSurname() {
			let surname = $("#surname").val();
			if (surname.length < 2) {
				$("#error-surname")
					.text("Surname should be at least 2 characters long.")
					.css("color", "red");
				$("#surname").css("border", "3px solid red");
			} else if (!/^[a-zA-Z]+$/.test(surname)) {
				$("#error-surname")
					.text("Surname should only contain letters.")
					.css("color", "red");
				$("#surname").css("border", "3px solid red");
			} else {
				$("#error-surname").text("");
				$("#surname").css("border", "3px solid green");
			}
		}

		function validateNumber() {
			let number = $("#number").val();
			if (!/^[0-9]{9}$/.test(number)) {
				$("#error-number")
					.text("Invalid phone number.")
					.css("color", "red");
				$("#number").css("border", "3px solid red");
			} else {
				$("#error-number").text("");
				$("#number").css("border", "3px solid green");
			}
		}

		function validateEmail() {
			let email = $("#email").val();
			if (!/\S+@\S+\.\S+/.test(email)) {
				$("#error-email").text("Invalid email address.").css("color", "red");
				$("#email").css("border", "3px solid red");
			} else {
				$("#error-email").text("");
				$("#email").css("border", "3px solid green");
			}
		}

		function validatePassword() {
			let password = $("#password").val();
			if (password.length < 8) {
				$("#error-password")
					.text("Password should be at least 8 characters long.")
					.css("color", "red");
				$("#password").css("border", "3px solid red");
			} else {
				$("#error-password").text("");
				$("#password").css("border", "3px solid green");
			}
		}

		function validatePassword2() {
			let password = $("#password").val();
			let password2 = $("#password2").val();
			if (password !== password2) {
				$("#error-password2")
					.text("Passwords do not match.")
					.css("color", "red");
				$("#password2").css("border", "3px solid red");
			} else {
				$("#error-password2").text("");
				$("#password2").css("border", "3px solid green");
			}
		}

		function validateHeight() {
			let height = $("#height").val();
			if (height < 0) {
				$("#error-height")
					.text("Height cannot be negative.")
					.css("color", "red");
				$("#height").css("border", "3px solid red");
			} else {
				$("#error-height").text("");
				$("#height").css("border", "3px solid green");
			}
		}

        function validateDate() {
			let date = $("#date").val();
			if (new Date(date) > new Date()) {
				$("#error-date")
					.text("Your birth date can not be in the future.")
					.css("color", "red");
				$("#date").css("border", "3px solid red");
			} else {
				$("#error-date").text("");
				$("#date").css("border", "3px solid green");
			}
		}

		function validateWeight() {
			let weight = $("#weight").val();
			if (weight < 0) {
				$("#error-weight")
					.text("Weight cannot be negative.")
					.css("color", "red");
				$("#weight").css("border", "3px solid red");
			} else {
				$("#error-weight").text("");
				$("#weight").css("border", "3px solid green");
			}
		}

		function validateSex() {
			let sex = $("#sex").val();
			if (sex === "") {
				$("#error-sex").text("Please select a sex.").css("color", "red");
				$("#sex").css("border", "3px solid red");
			} else {
				$("#error-sex").text("");
				$("#sex").css("border", "3px solid green");
			}
		}
	});
</script>
{% endblock %}
